---
- name: Configure EC2 instance
  hosts: all
  become: yes
  vars:
    docker_image: "{{ docker_image }}"

  tasks:
    - name: Update system
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - docker.io
          - python3-pip
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Pull CloudCare Docker image
      docker_image:
        name: "{{ docker_image }}"
        source: pull

    - name: Run CloudCare container
      docker_container:
        name: cloudcare_app
        image: "{{ docker_image }}"
        state: started
        restart_policy: always
        ports:
          - "80:80"
